<section style="background-color: #343a40; color: #ffffff; padding: 20px 40px;">
  <div class="pt-3 pb-4" style="width: 700px;">
    <h3>Assets</h3><br>
    <button type="button" class="btn btn-primary float-right" (click)="addAsset()">+ Add Asset</button>
    <table class="mt-3 mb-4 table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">BRAND</th>
          <th scope="col">MODEL</th>
          <th scope="col">TYPE</th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" *ngFor="let asset of assets" (click)="editAsset(asset.id)">
          <th scope="row">{{ asset.id}}</th>
          <td>{{ asset.brand }}</td>
          <td>{{ asset.model }}</td>
          <td>{{ asset.type }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Developers</h3><br>
    <button type="button" class="btn btn-primary float-right" (click)="addDeveloper()">+ Add Developer</button>
    <table class="mt-3 mb-4  table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">USERNAME</th>
          <th scope="col">ACTIVE</th>
          <th scope="col">ASSETS</th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" *ngFor="let developer of developers" (click)="editDeveloper(developer.id)">
          <th scope="row">{{ developer.id}}</th>
          <td>{{ developer.fullname }}</td>
          <td>{{ developer.active }}</td>
          <td>
            <ul>
              <ng-container *ngIf="developer.assets && developer.assets.length > 0; else noAssets">
                <li *ngFor="let assetId of developer.assets">
                  {{ assetId.brand }}
                  {{ assetId.type }}
                  Model: {{assetId.model}}
                </li>
              </ng-container>
              <ng-template #noAssets>
                <li>No assets</li>
              </ng-template>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Users</h3><br>
    <button type="button" class="btn btn-primary float-right" (click)="addUser()">+ Add User</button>
    <table class="mt-3 mb-4 table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">USERNAME</th>
          <th scope="col">ACTIVE</th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" *ngFor="let user of users" (click)="editUser(user.id)">
          <th scope="row">{{ user.id}}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.active }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
