<div class="container">
  <form [formGroup]="form" (ngSubmit)="addNewAsset(form.value)">
    <div class="form-group">
      <label for="exampleFormControlInput1">Brand</label>
      <input type="text" class="form-control" placeholder="Asset Brand" formControlName="brand">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Model</label>
      <input type="text" class="form-control" placeholder="Model" formControlName="model">
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlSelect1">Type</label>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="type">
          <option value="laptop">Laptop</option>
          <option value="keyboard">Keyboard</option>
          <option value="mouse">Mouse</option>
          <option value="headset">Headset</option>
          <option value="monitor">Monitor</option>
        </select>
      </div>
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-dark" (click)="exit()">Exit</button>
  </form>
</div>
