<div class="container">
  <form [formGroup]="form" (ngSubmit)="addNewDeveloper(form.value)">
    <div class="form-group">
      <label for="exampleFormControlInput1">Username</label>
      <input type="text" class="form-control" placeholder="Username" formControlName="fullname">
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlSelect1">Assets</label>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="assets" multiple
          (change)="onAssetsChange($event)">
          <option *ngFor="let asset of assetsData" [value]="asset.id">{{ asset.brand }} {{ asset.type }} Model:
            {{asset.model}} </option>
        </select>
      </div>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
        formControlName="active">
      <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-dark" (click)="exit()">Exit</button>
  </form>
</div>

